.cart-container{
    margin: auto;
    width: 90%;
    height: 100%;
    border: 1px solid #000;
}

.btn-deleteAll-container{
    display: flex;
    margin: auto;
    width: 90%;
    height: 100%;
    align-items: flex-end
}
.delete-all{
    color: rgb(255, 255, 255);
    background-color: red;
    border: 0;
    margin: auto;
    width: 10%;
    height: 200%;
    align-items: flex-end
}
.delete-all:hover{
    background-color: rgb(119, 2, 2);
  
}

.items-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    padding: 10px;
    margin: 10px 0 ;
}

.delete-btn-style{
    color: red;
    width: 40px;
    height: 40px;
    margin: auto;
    background-color: transparent;
    border: none;
    font-size: 16px;
}

.delete-btn-style:hover{
    color: rgb(43, 2, 2); 
}


.items-list li .list-price{
    text-align: center;
    color: red;
    width: 100%;
}
 li img{
    width: 10%;
    height: 19%;
    margin: 1% 3%;
    
}
.total-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    margin: auto;
    width: 90%;
    height: 120px;
    background-color: rgba(112, 112, 112, 0.377);
    margin-bottom: 40px;
}

.total{
    margin: 20px;
    width: 50%;

}

ul{
    list-style: none;
}