.items-cart-conteiner{
   display: grid;
   grid-template-columns: repeat(9, 1fr);
   width: 90%;
   align-items: center;
   margin: 20px;

}
.items-cart-conteiner img{
    width:140px;
    height: 130px;
}

.cart-delete-btn{
    background-color: transparent;
    border: 0;
}

.fa-times:before {
    color: red;
    font-size: 30px;
}

.total-container{
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    text-align: center;
}
.cart-title{
    text-align: center;
}
.total-text   {
    text-align: center;
    width: 100%;
    color:white;
}

.btn-delete-all{
    width: 100%;
    height: 50px;
    color: white;
    background-color: red;
    border: 0;
    margin: auto;
}
.btn-delete-all:hover{
    width: 100%;
    color: white;
    background-color: rgb(65, 2, 2);
    border: 0;
    margin: auto;
}

.btn-add-more{
    width: 50%;
    height: 50px;
    color: white;
    background-color: rgb(0, 140, 255);
    border: 0;
    margin: auto;
}
.btn-add-more:hover{
    background-color: rgb(0, 62, 112);
}

.btn-finish{
    width: 50%;
    height: 50px;
    color: white;
    background-color: rgb(6, 151, 38);
    border: 0;
    margin: auto;
}
.btn-finish:hover{
    background-color: rgb(5, 100, 26);    
}
.fa-trash-alt{
    font-size: 30px;
    margin-right: 30px;
}

.fa-file-invoice-dollar{
    font-size: 30px;
    margin-right: 30px;
}
.fa-cart-plus{
    font-size: 30px;
    margin-right: 30px;
}

.empty{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.empty img{
        width: 200px;
        height: 170px;
        margin-top: 4rem;   
}

.cart-key{
    display:none;
}
@media  screen and (max-width: 768px){
    .items-cart-conteiner{
    display: block;
    width: 90%;
    text-align: center;
    margin: auto
 
 }
}