.cart-icon{
    width: 50px;
    margin-top: 2rem;
    margin-right: 2rem;
   
}
 .fa-cart-arrow-down{
    color: white;
    font-size: 2rem;

    }
   .fa-cart-arrow-down{
     color: #9caedf

    }    
    .fa-cart-arrow-down:hover{
      color: #88d4c4
 
     } 

     .cart-icon p{
       background-color: red;
       text-decoration: none;
       font-size: 12px;
       text-align: center;
       width: 20px;
       color: white;
       border-radius: 100%;
       z-index: 10;
       position: relative;
       left: 1rem;
       bottom: 1rem;

     }