.cart-icon{
    width: 50px;
    margin: auto;
}
 .fa-cart-arrow-down{
    color: white;
    font-size: 2rem;

    }
   .fa-cart-arrow-down{
     color: #9caedf

    }    
    .fa-cart-arrow-down:hover{
      color: #88d4c4
 
     } 