*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    background-color: rgb(19, 19, 22);
    z-index: 10;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px, solid, white;
    
}
.logoConteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 74px;
    height: 54px;
}
.logo{
    color: white;
    font-size: 18px;

}
.menu_items{
    display: flex;
    color: white;
    align-items: center;
   margin: auto;


}

.menu_items li{
margin: 5px 5px;
list-style: none;
}

.menu_items li a{
padding: 20px 5px;
font-size: 16px;
color: white;
display: block;
text-decoration: none;
align-items: center;
}

.menu_items li a:hover{
background-color: rgba(123, 125, 248, 0.322);
margin: auto;
transition:  all .3s;
height: 100wh;


transform: all .6s;
}

.btn_menu{
    margin-right: 30px;
    font-size: 25px;
    color:rgb(91, 121, 204);
    cursor: pointer;
    display: none;
}

ul.show{
top: 65px;
}

@media  screen and (max-width: 798px){
    .menu_items li a{
        font-size: 16px;
    }
    .menu{
        height: 75px;
    }
    .btn_menu{
        display: inline-flex;
    }
    .menu_items{
        position: fixed;
        width: 100vw;
        height: calc(100%-75px);
        background-color: rgba(39, 39, 39, 0.952);
        top: -200vh;
        text-align: center;
        transition: all .6s;
        flex-direction: column;
        z-index: 100;
       
    }
    .menu_items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li a{
        padding: 20px 5px;
        font-size: 28px;
        color: white;
        display: block;
        text-decoration: none;
        align-items: center;
        }
        .menu_items li a:hover{
            background-color: rgba(34, 73, 180, 0.349);
            width: 100vw;
        }
}

@media  screen and (max-width: 320px){
    .logo{
        display:none;
    }
}