.thanks-title{
    text-align: center;
}

.thankyou-container{
 margin: auto;
 margin-bottom: 50px;
 padding: 20px;
    width: 600px;
    height: 100%;
    border: 1px dashed rgb(13, 0, 194);
}
.product-purchase-container{
    display: flex;
    justify-content: space-between;
}

.thankyou-container{
    text-align: center;
    font-size: 20px;
}
.fa-cart-plus{
    align-items: center;
    margin: auto;
}

@media  screen and (max-width: 505px){
    .thankyou-container{
        margin: auto;
        margin-bottom: 50px;
        padding: 20px;
           width: 400px;
           height: 100%;
           border: 1px dashed rgb(13, 0, 194);
       }
       .thankyou-container{
        text-align: center;
        font-size: 12px;
    }
    
}
