.container-itemCount{
 padding: 10px;
    background-color:  #212529;
    width: 320px;
    height: 130px;
    justify-content: center;
    margin-left: 50px;
}

.stock{
    align-items: center;
    position: relative;
    left: 80px;
    color: rgb(255, 255, 255);
}

.container-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity{
    background-color: rgba(129, 161, 190, 0.596);
    color: rgb(255, 255, 255);
    width: 250px;
    height: 30px;
    text-align: center;
    align-items: center;

}

.btn-count{
    background-color: rgba(1, 58, 110, 0.596);
    color: rgb(255, 255, 255);
    border:0;
    width: 40;
    height: 30px;
    text-align: center;
}
.btn-count:hover{
    background-color: rgba(0, 25, 49, 0.877);
    color: rgb(255, 6, 201);

}

.btn-agregar-producto{

    border: none;
    background-color:rgb(14, 31, 27); ;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-transform: uppercase;
    width: 300px;

}
.btn-agregar-producto:hover{

    border: 0;
    background-color: rgb(28, 61, 54);
    color: white;


}

