.container-itemCount{

    width: 200px;
    height: 50px;
    justify-content: left;
}

.stock{
    text-align: center;
    width: 100%;
    font-size: 14px;
    color: rgb(34, 34, 34);
}

.container-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity{
    background-color: rgba(129, 161, 190, 0.596);
    color: rgb(0, 41, 68);
    width:160px;
    height: 22px;
    text-align: center;
}

.btn-count{
    background-color: transparent;
    color: rgb(1 13 25 / 60%);
    border: none;
    margin-top: 2px;
}

.fa-caret-square-down,
.fa-caret-square-up{
    font-size:25px;
}

.btn-count:hover{
    color: rgb(0, 57, 180);
}

.container-buttons{
padding: 0;
margin: 0;
}

.btn-agregar-producto{
    border: none;
    font-size: 10px;
    background-color:rgb(14, 31, 27); ;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-transform: uppercase;
    width: 170px;
    height: 30px;
    border-radius: 5px;
}

.btn-agregar-producto:hover{

    border: 0;
    background-color: rgb(28, 61, 54);
    color: white;
}

@media  screen and (max-width: 798px){
    .container-itemCount{
        padding: 5px;
           width: 220px;
           height: 130px;
           margin-left: 25px;
    }
       .stock{
        left: 40px;
    }
    .btn-agregar-producto{
        color: white;
        margin-top: 10px;
        width: 200px;
        font-size: 14px;

    }
    }

